/* 改变主题色变量 */
$--color-primary: #2b2bfc;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f44b5f;

$--color-border: #f2f3f5;

/* 字体颜色变量 */
$--color-main: #333c5a; // 主要文字
$--color-common: #636b78; // 常规文字
$--color-sub: #a4afc1; // 次要文字
$--color-disabled: #d1d7e0; // 禁用文字
$--color-input: #a4afc1; // input占位符
$--color-no: #84b3f3; // 无数据文字
